@import url(../fonts/fonts.css);

.logo1 {
    left: 18.41%;
    right: 27.12%;
    top: 38.15%;
    bottom: 35.06%;
    background: #FFFFFF;
}

.select-button {
    width: 169px;
    height: 26px;}

.top-section-socials-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.top-logo-title {
    font-family: Montserrat;
    font-size: 23px;
    font-style: italic;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 142px;
    height: 34px;
    left: 206px;
    top: 56px;
    }

.top-logo-subtitle {
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    width: 123px;
    height: 10px;
    left: 205.9px;
    top: 85.13px;
}

.top-section {
    background-image: url('../images/big-bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    position: relative;
}

.socials-1 {
    position: absolute;
    right: 17px;
    bottom: 10px;
}
.socials-1 li svg {
    width: 21px;
    height: 21px;
    margin-right: 17px;
}

.call-number {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 158.86%;
    text-align: right;
}


.top-section-title {
    color: #FFFFFF;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

.top-section-sub-title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width: 468px;
    height: 57px;
    left: 121px;
    top: 367px;
    line-height: 148.6%;
    padding-top: 21px;
    padding-bottom: 32px;
}

.wrapper {
    max-width: 1195px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.menu-title li {
    padding-left: 42px;
}

.select-button {
    background-color: #0266C1;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158.86%;
    width: 246px;
    height: 59px; 
}

.action {
    background-image: url('..images/forrest.png');
}

.top-section {
    position: relative;
}

.li {
    padding-left: 45.02px;
    flex: 0 0 100%;
}

.menu-title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.headings-1 {
    margin-top: 232px;  
}

.logo {
    width: 226px;
    height: 61.87px;
    left: 122px;
    top: 42px;
    padding: 0px;
    }


.elbrus-image {
    background-image: url('..images/elbrus.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.tours-title {
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.tours-headings {
    display: flex;
}

.section-title {
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
}

.tours-info {
    display: flex;
}

.bottom-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black;
}

.socials-2 {
    position: absolute;
    display: flex;
}
.socials-list-2 li svg {
    width: 21px;
    height: 21px;
    margin-right: 23px;
}
