@import url(../fonts/fonts.css);

.logo1 {
left: 18.41%;
right: 27.12%;
top: 38.15%;
bottom: 35.06%;
background: #FFFFFF;
}

 .select-button {
    width: 169px;
    height: 26px;}

.top-section-socials-list {
    position: absolute;
    display: flex;
width: 98px;
height: 21.3px;
left: 1219px;
top: 625px;
}

.top-logo-title {
    font-family: Montserrat;
font-size: 23px;
font-style: italic;
font-weight: 800;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 142px;
height: 34px;
left: 206px;
top: 56px;
}

.top-logo-subtitle {
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
width: 123px;
height: 10px;
left: 205.9px;
top: 85.13px;
}

.top-section {
    background-image: url('../images/big-bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    width: 1440px;
    height: 774px;

}
.call-number {
    height: 16px;
    width: 164px;
    left: 1155px;
    top: 68px;
    border-radius: nullpx;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 158.86%;
text-align: right;
    }

.top-section-title {
    color: #FFFFFF;
    height: 55px;
width: 586px;
left: 121px;
top: 291px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: 55px;
letter-spacing: 0em;
text-align: left;
position: absolute;
width: 586px;
height: 55px;
left: 121px;
top: 291px;

}

.top-section-sub-title {
    color: #FFFFFF;
    font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
position: absolute;
width: 468px;
height: 57px;
left: 121px;
top: 367px;
line-height: 148.6%;
}

.wrapper {
max-width: 1195px;
top: 31px;
margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33 px 0;
    color: #FFFFFF;
    top: 232px;

}

.logo-title {
    width: 142;
    height: 34;
}

.select-button {
    background-color: #0266C1;
    color: #FFFFFF;
    width: 246px;
    height: 59px; 
}

.action {
    background-image: url('..images/forrest.png');
}

.top-section-socials-list {
width: 98px;
height: 21.3px;
left: 1219px;
top: 625px;
}

.menu-title {
    display: flex;
}


