@import url(../fonts/fonts.css);

.logo1 {
    left: 18.41%;
    right: 27.12%;
    top: 38.15%;
    bottom: 35.06%;
    background: #FFFFFF;
}

.select-button {
    width: 169px;
    height: 26px;}

.top-section-socials-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.top-logo-title {
    font-family: Montserrat;
    font-size: 23px;
    font-style: italic;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 142px;
    height: 34px;
    left: 206px;
    top: 56px;
    }

.top-logo-subtitle {
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    width: 123px;
    height: 10px;
    left: 205.9px;
    top: 85.13px;
}

.top-section {
    background-image: url('../images/big-bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    position: relative;
}

.socials-1 {
    position: absolute;
    right: 17px;
    bottom: 10px;
}
.socials-1 li svg {
    width: 21px;
    height: 21px;
    margin-right: 17px;
}

.call-number {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 158.86%;
    text-align: right;
}


.top-section-title {
    color: #FFFFFF;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

.top-section-sub-title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width: 468px;
    height: 57px;
    left: 121px;
    top: 367px;
    line-height: 148.6%;
    padding-top: 21px;
    padding-bottom: 32px;
}

.wrapper {
    max-width: 1195px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #FFFFFF;
    padding-top: 50px;
}

.menu-title li {
    padding-left: 42px;
}

.select-button {
    background-color: #0266C1;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 246px;
    height: 59px; 
}

.feedback {
    background-image: url('../images/forrest-bg.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    width: 100%;
    padding-bottom: 337px;

}

.feedback-title {
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    height: 43px;
    width: 385px;
    padding-top: 365px;
    padding-left: 412px;
    color: #FFFFFF;
}

.feedback-subtitle {
    height: 24px;
    width: 586px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding-left: 307px;
    padding-top: 9px;
    padding-bottom: 44px;
}

.top-section {
    position: relative;
}


.menu-title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.headings-1 {
    margin-top: 232px;  
}

.logo {
    width: 226px;
    height: 61.87px;
    left: 122px;
    top: 42px;
    padding: 0px;
    }


.tour-title-1 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    width: 243px;
    height: 49px;
    padding-top: 30px;
    padding-bottom: 44px;
    padding-left: 20px;
}

.tour-title-2 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 243px;
    height: 49px;
    padding-top: 30px;
    padding-bottom: 44px;
    padding-left: 20px;
}

.tour-title-3 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 243px;
    height: 49px;
    padding-top: 30px;
    padding-bottom: 44px;  
    padding-left: 20px; 
}

.tours-headings {
    display: flex;
    justify-content: space-between;
}

.section-title {
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left; 
}

.bottom-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #2D383F;
}

.socials-list-2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;  
    padding-top: 35px;
    padding-bottom: 33px;
}

.fb {
    width: 30px;
    height: 29px;
    padding-right: 23px;
}

.insta {
    width: 30px;
    height: 29px;
}

.vk-bottom {
    width: 30px;
    height: 29px;
    padding-left: 502px;
    padding-right: 23px;
}

.tours-info {
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    }

.elbrus-tour {
    background-image: url('../images/elbrus.png');
    background-repeat: no-repeat;
    padding-right: 20px;
    width: 384px;
    height: 412px;
    
}

.table-mountain-tour {
    background-image: url('../images/tablemount.png');
    background-repeat: no-repeat;
    padding-right: 20px;   
    width: 384px;
    height: 412px;
}

.fisht-mountain-tour {
    background-image: url('../images/fisht.png');
    background-repeat: no-repeat; 
    width: 384px;
    height: 412px; 
}

.first-line {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;  
    padding-top: 213px;
    height: 21px;
}

.loc-caucasus {
    display: flex;
}

.caucasus {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    width: 114px;
    height: 29px;
    color: blanchedalmond;
    background-color: #0266C1;
    padding-left: 21px;
}

.ingushetia {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    width: 114px;
    height: 29px;
    color: blanchedalmond;
    background-color: #0266C1;
    padding-left: 21px;
}

.adygea {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: blanchedalmond;
    background-color: #0266C1;
    width: 114px;
    height: 29px;
}

.show-all {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    color: #2D383F;
    padding-top: 60px;
    padding-left: 489px;
    padding-bottom: 106px;

    border: 0;
    margin: 0;
    outline: none;
    background-color: #FFFFFF;

    display: flex;
}


.instructors-title {
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 38px;
}

.instructors {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
    padding-top: 33px;  
}

.title-buttons {
    display: flex;
}

.name-vk {
    display: flex;
}

.points {
    padding-top: 36px;
    width: 1440px;
}

.process-title {
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 56px;
    padding-bottom: 38px;
}

.process-description {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.information {
    padding-left: 700px;
}

.about {
    background-image: url('../images/about_hikers.png');
    background-repeat: no-repeat;
}

.about-title {
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 50px;
}

.description {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 547px;
    height: 128px;
    padding-top: 20px;
    padding-right: 419px;
}

.photogallery {
    padding-top: 156px;
}

.info-buttons {
    display: flex;
}

.hashtag-info {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 48px;
    width: 710px;
    left: 133px;
    top: 3156px;
    border-radius: nullpx;
    padding-top: 19px;
    padding-right: 407px;
    padding-bottom: 45px;

}

.privacy-policy {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D383F;
    padding-left: 497px;
}

.send-button {
    width: 246px;
    height: 64px;
    background: #0266C1;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.teach-info {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 29px;

    height: 69px;
    width: 826px;
    left: 124px;
    top: 1609px;
    border-radius: nullpx;

}

.feedback-form {
    padding-top: 25px;
    padding-left: 230px;

}

.appeal {
    width: 354px;
    height: 64px;
    background-color: #FFFFFF;
    color: #B0B0B0;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 102px;
}

.number {
    width: 354px;
    height: 64px;
    background-color: #FFFFFF;
    color: #B0B0B0;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 13px;
    padding-right: 18px;
}

.vk {
    width: 29px;
    height: 29px;
}

.back-button {
    width: 37px;
    height: 35px;
}

.next-button {
    width: 37px;
    height: 35px;
    padding-left: 4px;
}

.sun {
    width: 21px;
    height: 22px;
    padding-left: 28px;
}

.moon {
    width: 20px;
    height: 19px;
    padding-left: 34px;
}

.location {
    width: 9px;
    height: 12px;
    padding-left: 43px;
}

.alltours-title {
    padding-top: 206px;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;

}

.tours {
    background-image: url('../images/clouds.png');
    background-repeat: no-repeat;
}

.buttons-1 {
    padding-top: 239px;
    padding-bottom: 45px;
    padding-left: 750px;
    display: flex;
    justify-content: space-between;
}

.buttons-2 {
    padding-left: 894px;
    display: flex;
}

.name-1 {
    height: 57px;
    width: 87px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 88px;
}

.name-2 {
    width: 104px;
    height: 38px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 133.98%;
    padding-right: 72px;
}

.name-3 {
    width: 111px;
    height: 38px;
    left: 617.78px;
    top: 2023px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 133.98%;
    padding-right: 64px;
}

.name-4 {
    width: 91px;
    height: 38px;
    left: 856.67px;
    top: 2023px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 133.98%;
    padding-right: 85px;
}

.name-5 {
    width: 67px;
    height: 38px;
    left: 1095.55px;
    top: 2023px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 133.98%;
    padding-right: 108px;
}

.instructor-2 {
    padding-left: 40px;
    border: 1px solid #FFFFFF
}

.instructor-3 {
    padding-left: 40px;
}

.instructor-4 {
    padding-left: 40px;
}

.instructor-5 {
    padding-left: 40px;
}

.instructor-info-1 {
    width: 202px;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 126.67%;
    padding-top: 8px;
}

.instructor-info-2 {
    width: 202px;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 126.67%;
    padding-top: 8px;
}

.instructor-info-3 {
    width: 202px;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 126.67%;
    padding-top: 8px;
}

.instructor-info-4 {
    width: 202px;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 126.67%;
    padding-top: 8px;
}

.instructor-info-5 {
    width: 202px;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 126.67%;
    padding-top: 8px;
}

.climber {
    padding-top: 45px;
}

.process-1 {
    width: 198px;
    height: 46px;
    left: 160px;
    top: 2281px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 142.51%;
    color: #2D383F;
}

.process-2 {
    width: 225px;
    height: 46px;
    left: 480px;
    top: 2281px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    color: #2D383F; 
    padding-left: 85px;
}

.process-3 {
    width: 180px;
    height: 69px;
    left: 803px;
    top: 2281px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 23px; 
    color: #2D383F;
    padding-left: 61px;
}

.process-4 {
    width: 202px;
    height: 69px;
    left: 1137px;
    top: 2281px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 142.51%;
    color: #2D383F;
    padding-left: 117px;
}

.map {
    width: 25px;
    height: 25px;
}

.skate {
    width: 25px;
    height: 25px;
}

.tree {
    width: 25px;
    height: 25px;
}

.mount {
    width: 25px;
    height: 25px;
}

.arrow {
    width: 9px;
    height: 14px;
    padding-left: 20px;
}

.line {
    width: 79.01px;
    height: 1px;
    padding-left: 20px;
}

.bottom-line {
    display: flex;
    padding-top: 17px;
    height: 43px;
}

.difficulty {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 20px;
}

.dates {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 48px;
}

.group {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 48px;
}